.banner {
    background-color:#2196F3;
    color: rgb(255 255 255);
    height:80px;
}

.navbar, .dropdown-menu {
    font-size: small;
}

.header {
    font-weight: bold;
}

body {
    font-family: Verdana, serif;
}


.error {
    color: #f00;
}
