@media print {
    th, tr, td {
        font-size: medium;
        padding-right: 4px;
    }

    .panel {
        border: 0;
    }
}

td.space {
    padding-left: 10px;
    padding-right: 10px;
}

td.upper_element {
    line-height: 1.2;
    font-size: large;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
}

.small_table {
    font-size: small;
}

.small_table_tr {
    line-height: 15px;
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

td.group_cell {
    padding-top: 3px !important;
    padding-bottom: 5px !important;
}

td.center {
    text-align: center;
}

tr.top_border {
    border-top: thin solid black;
}

tr.bottom_border {
    border-bottom: thin solid black;
}
